# {{ ansible_managed }}

ServerTokens ProductOnly
UseCanonicalName {{ apache_server_use_canonical_name }}

<VirtualHost {{ apache_default_var_www_server_binding }}:{{ apache_default_var_www_server_http_port }} >
    ServerName {{ apache_default_var_www_server_name }}
    ServerAdmin {{ apache_default_var_www_server_admin }}

    WSGIScriptAlias / {{ ckan_config_directory }}/apache.wsgi
    <Directory {{ ckan_config_directory }}>
        Order allow,deny
        Allow from all

        Options All
        AllowOverride All
        Require all granted
    </Directory>

    # Pass authorization info on (needed for rest api).
    WSGIPassAuthorization On

    # Deploy as a daemon (avoids conflicts between CKAN instances).
    WSGIDaemonProcess ckan_default display-name=ckan_default processes=2 threads=15

    WSGIProcessGroup ckan_default

    # Possible values include: debug, info, notice, warn, error, crit, alert, emerg.
    LogLevel warn

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <IfModule mod_rpaf.c>
        RPAFenable On
        RPAFsethostname On
        RPAFproxy_ips 127.0.0.1
    </IfModule>

</VirtualHost>
